.body {
    font-family: 'Roboto', sans-serif !important;
    position: relative;
}

.logo img {
    width: 100%;
}

.title {
    width: 100%;
    background-color: rgba(246, 221, 102, 1);
    border-radius: 5px;
    font-size: 35px;
    text-transform: uppercase;
    /*min-width: 265px;*/
    padding: 5px;
    text-align: center;
}

.title:hover {
    background-color: rgba(246, 221, 102, 1);
    text-shadow: 2px 2px 3px #eee;
}

.menu {
    font-size: 20px;
    font-weight: 600;
    color: #7c7e80;
}

.menu:hover {
    filter: brightness(50%);
    transform: scale(1.2, 1.2);
}

.wrapper_out_plate {
    position: relative;
}

.plate_wrapper {
    display: none;
    position: absolute;
    top: 7%;
    left: 68%;
}

.plate {
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
    /*min-width: 338px;*/
    /*max-width: 150px;*/
    /*min-height: 296px;*/
    /*max-height: 175px;*/
    color: rgb(19, 19, 19);
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    filter: brightness(150%);
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6)
}

.plate h3 {
    /*font-size: 28px;*/
    font-weight: 600;
    padding: 3px 0;
    line-height: 1.45;
    background-color: rgba(246, 221, 102, 1);
    text-shadow: 2px 2px 3px #f9e766;
}

.plate h6 {
    padding-top: 10px;
    font-size: 20px;
    line-height: 1.4em;
}

.diagnostik {

    text-align: center;
    font-family: 'Lato', sans-serif;

}

.advantage {
    /*min-height: 250px;*/
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 75px;
}

.adv {
    border-radius: 30px;
    white-space: normal;
    width: 100%;
    height: 100%;
    color: rgb(19, 19, 19);
}

.first_advantage {

    background-color: rgba(246, 221, 102, 1);
}

.first_advantage p {
    font-size: 27px;
}

.first_advantage span {
    font-size: 16px;
}

.second_advantage {

    background-color: #ff6161;
}

.second_advantage p {
    font-size: 27px;
}

.second_advantage span {
    font-size: 16px;
}

.third_advantage {

    background-color: #30dbff;
}

.third_advantage p {
    font-size: 27px;
}

.third_advantage span {
    font-size: 16px;
}

.four_advantage {

    background-color: #75cba8;
}

.four_advantage p {
    font-size: 27px;
}

.four_advantage span {
    font-size: 16px;
}

.wrapper_p {
    min-height: 118px;
}

.what_we_check {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.car_top {
    height: 500px;
    width: 1140px;
    background: url("../img/car_top.png") no-repeat 100% 100%;
    background-size: contain;
    background-position-x: center;
}

.car_body {
    margin-top: -83px;
}

.car_body span {
    display: block;
    padding: 0 3px;
    background-color: rgba(246, 221, 102, 1)
}

.car_body span:hover {
    background-color: #30dbff;
}

.car_body span:hover + .car_body_img {
    filter: brightness(50%);
}

.car_body_img:hover {
    filter: brightness(50%);
}

.wrapper_car_body_center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.car_over {
    margin: 0 75px;
}

.car_over span:hover {
    background-color: #30dbff;
}

.icon_img:hover .car_over {
    filter: brightness(50%);
}

.icon_img:hover {
    filter: brightness(50%);
}

.car_over p {
    text-align: center;
    min-width: 155px;

}

.car_over p span {
    background-color: rgba(246, 221, 102, 1)
}

.icon_img {
    max-height: 39px;
    max-width: 39px;
    padding-bottom: 5px;
}

.send_request {
    width: 100%;
    background-color: rgba(246, 221, 102, 1);
    margin: 70px 0;
    padding: 50px 15px;
}

.wrapper_send_out {
    background: url("../img/mv2.png") no-repeat left 100%;

}

.wrapper_send {
    background: url("../img/mv22.png") no-repeat right 100%;

}

.button_font {
    font-size: 25px;
    line-height: 25px;
}

.min_w {
    min-width: 150px;
}

.how_we_work {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    align-content: center;
    background-color: #F9F0BB;
    width: 33%;
    min-height: 300px;
    border-radius: 30px;
}

.how_we_work span {
    margin-top: 25px;
    font-size: 130%;
}

.wrapper_p_down {
    font-size: 55px;

}

.button_font_down {
    font-size: 25px;
    line-height: 33px;
    height: auto;
    white-space: normal;
}

.textGuarantee span {
    letter-spacing: 0.08em;
    font-size: 24px;
    color: #333;
    text-align: center;
    padding-bottom: 10px;

}

.textGuarantee p {
    color: #858585;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;

}

.textGuarantee {
    text-align: center;
    padding: 15px;

}

.icon img {
    max-width: 150px;
}

.work_for_result {
    background-color: rgba(255, 222, 95, 0.6);
    animation-delay: 0.5s;
}

.price_img {
    width: 100%;

}

.price_img img {
    width: 100%;
    border-radius: 15px;
}

.price_text {
    color: #577083;
    line-height: 2em;

}

.price h2 {
    color: #36B5CD;
    font-weight: 600;
}

.price_head h3 {
    letter-spacing: 0.08em;
    font-weight: 600;

}

.price_head {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.price_view:hover {
    transition: all 0.2s ease-in-out;
    filter: brightness(92%);
    transform: scale(1.01, 1.01);
}

.maps {
    margin-top: 50px;
    margin-bottom: 50px;

}

.maps iframe {
    width: 100%;
    min-height: 350px;
}

.contacts {
    background-color: rgba(255, 222, 95, 0.6);
    margin-bottom: 50px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 50px;
}

.contacts span {

    font-weight: 600;
}

.copyright {
    font: normal normal normal 15px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
    color: #2F2E2E;
}

.footer {
    /*background: url("../img/footer.jpg") 100% 100%*/
}

.box-shadow {
    box-shadow: darkgrey 2px 4px;

}

.box-shadow:hover {
    /*transition:all 1s ease-in-out;*/
    /*box-shadow: darkgrey 4px 6px;
    transform: rotateY(360deg);*/
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.wrapper_advantage {
    animation-duration: 3s;
    animation-delay: 2s;
    border-radius: 5px;
}

.first_tape {
    animation-delay: 0.5s;
}

@media (min-width: 1024px) {
    .wrapper_advantage {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

#back-top {
    position: fixed;
    padding: 5px;
    left: 5%;
    bottom: 20%;
    z-index: 99991;
}

#back-top a {
    width: 77px;
    height: 30px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    text-align: center;

}

#back-top a:hover {
    height: 70px;
    background: #663399;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: #fff;
}
