.body {
    font-family: 'Roboto', sans-serif !important;
    position: relative;
}

.title {
    background-color: rgba(246, 221, 102, 1);
    border-radius: 5px;
    font-size: 35px;
    text-transform: uppercase;
    min-width: 265px;
    padding: 5px;
    text-align: center;
}

.title:hover {
    background-color: rgba(246, 221, 102, 1);
    text-shadow: 2px 2px 3px #eee;
}

.menu {
    font-size: 20px;
    font-weight: 600;
    color: #7c7e80;
}

.menu:hover{
    filter: brightness(50%);
    transform: scale(1.2,1.2);
}
.plate_wrapper {

    position: absolute;
    top: 320px;
    left: 668px;
}

.plate {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding-top: 10px;
    min-width: 338px;
    max-width: 150px;
    min-height: 296px;
    max-height: 175px;
    color: rgb(19, 19, 19);
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    filter: brightness(150%);
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6)
}

.plate span {
    font-size: 28px;
    padding: 3px 0;
    line-height: 1.45;
    background-color: rgba(246, 221, 102, 1);
    text-shadow: 2px 2px 3px #f9e766;
}

.plate p {
    padding-top: 10px;
    font-size: 20px;
    line-height: 1.4em;
}

.diagnostik {

    text-align: center;
    font-family: 'Lato', sans-serif;

}

.advantage {
    min-height: 250px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 75px;
}

.adv {
    max-width: 238px;
    min-width: 190px;
    color: rgb(19, 19, 19);
}

.first_advantage {

    background-color: rgba(246, 221, 102, 1);
}

.first_advantage p {
    font-size: 27px;
}

.first_advantage span {
    font-size: 16px;
}

.second_advantage {

    background-color: #ff6161;
}

.second_advantage p {
    font-size: 27px;
}

.second_advantage span {
    font-size: 16px;
}

.third_advantage {

    background-color: #30dbff;
}

.third_advantage p {
    font-size: 27px;
}

.third_advantage span {
    font-size: 16px;
}

.four_advantage {

    background-color: #75cba8;
}

.four_advantage p {
    font-size: 27px;
}

.four_advantage span {
    font-size: 16px;
}

.wrapper_p {
    min-height: 118px;
}

.what_we_check {
    font-size: 50px;
    margin-bottom: 100px;
}

.car_top {
    height: 500px;
    width: 1140px;
    background: url("../img/car_top.png") no-repeat 100% 100%;
    background-size: contain;
    background-position-x: center;
}

.car_body {
    margin-top: -83px;
}

.car_body span {
    display: block;
    padding: 0 3px;
    background-color: rgba(246, 221, 102, 1)
}
.car_body span:hover {
    background-color: #30dbff;
}
.car_body span:hover + .car_body_img{
    filter: brightness(50%);
}
.car_body_img:hover {
     filter: brightness(50%);
 }


.wrapper_car_body_center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.car_over {
    margin: 0 75px;
}

.car_over span:hover {
    background-color: #30dbff;
}
.icon_img:hover .car_over{
    filter: brightness(50%);
}
.icon_img:hover {
    filter: brightness(50%);
}


.car_over p {
    text-align: center;
    min-width: 155px;

}

.car_over p span {
    background-color: rgba(246, 221, 102, 1)
}

.icon_img {
    max-height: 39px;
    max-width: 39px;
    padding-bottom: 5px;
}
.send_request{
    width: 100%;
    background-color: rgba(246, 221, 102, 1);
    margin: 70px 0;
    padding: 50px 15px;
}
.wrapper_send_out{
    background: url("../img/mv2.png") no-repeat left 100%;

}
.wrapper_send{
    background: url("../img/mv22.png") no-repeat right 100%;

}
.button_font{
    font-size: 25px ;
}